/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet');

/* Estiliza o corpo da página */
body {
    font-family: "Handjet", sans-serif; /* Define a fonte padrão */
    background-color: #DDDDDD; /* Cor de fundo da página */
    background-image: url("imagem/CrystalRoom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0;
    padding: 0;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 3.5rem; /* Tamanho da fonte */
    color: #d7dce4; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
}

/* Estiliza os títulos h3 */
h3 {
    text-align: center;
    background: #ffffffa9; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #30475E; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease; /* Transições suaves */
}

/* Estilização do botão ao passar o mouse */
section button:hover {
    background-color: #F5F7F8; /* Muda a cor de fundo no hover */
    color: #30475E; /* Muda a cor do texto no hover */
    transform: scale(1.05); /* Aumenta levemente o botão */
}

/* Efeito de clique */
section button:active {
    transform: scale(0.95); /* Diminui levemente o botão ao clicar */
    background-color: #222831; /* Muda a cor de fundo ao clicar */
    transition: transform 0.1s ease, background-color 0.1s ease; /* Transição rápida para o clique */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    scrollbar-width: none; /* Firefox */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

.return {
    color: #ffffff;
    font-weight: bold;
    font-size: 4rem;
}

/* Estiliza cada item de resultado */
.item-resultado {
    text-align: center;
    background: #ffffffa9; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    
}

.imagem {
    height: auto;
    width: 15rem;
    border:#0105ff;
    border-radius: 1.0rem; /* Borda arredondada */
    
}

.titulo {
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease; /* Transições suaves */
}

.titulo:hover{
    color: #0a70dd; /* Muda a cor do texto no hover */
    transform: scale(1.05); /* Aumenta levemente o botão */
}


.link {
    font-size: 2rem;
}

.link-jogo {
    color:#00e1ff
}

.gif {
    width: auto;
    height: 15rem;
    border:#0105ff;
    border-radius: 1.0rem; /* Borda arredondada */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #000000; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
    font-size: 1.5rem;
    font-weight: bold;
}

/* Estiliza o rodapé da página */
footer {
    background-color: transparent; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}

.pesquisar {
    margin-left: 10px;
}

.botoes-categoria {
    margin-top: 15px;
}


.botoes-categoria button {
    padding: 0.8rem 1.2rem;
    margin: 5px 10px 0 0;
    margin-right: 50px;
    border: none;
    border-radius: 1.5rem;
    background-color: #13b7e9;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.botoes-categoria button:active {
    transform: scale(0.95);
    background-color: #222831;
    transition: transform 0.1s ease, background-color 0.1s ease;
}

/* Estilos para os novos botões de navegação */
.nav-botoes {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.nav-botoes .categoria {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.nav-botoes .categoria:hover {
    background-color: #9e9e9e;
    color: black;
}

.nav-botoes .categoria:active {
    transform: scale(0.95);
    background-color: #d1d1d1;
    transition: transform 0.1s ease, background-color 0.1s ease;
}

.link-jogo {
    text-decoration: none;
    color: #007bff; /* Cor padrão do link */
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s; /* Transição suave para as mudanças de cor */
    padding: 5px 10px; /* Adiciona um pouco de espaço ao redor do texto */
    border-radius: 5px; /* Bordas arredondadas */
}
.link-jogo:hover {
    color: #fff; /* Cor do texto ao passar o mouse */
    background-color: #007bff; /* Cor de fundo ao passar o mouse */
}